@import "mocha.css";

* {
    font-family: Noto Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inset 0 -2px @text;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces button {
    color: @text;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.focused {
    background-color: shade(@blue, 0.75);
    box-shadow: inset 0 -2px @text;
} 

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#power-profiles-daemon,
#window,
#workspaces
{
  border: 1px solid shade(@blue, 0.75);
  border-radius: 8px;
  padding: 0 8px;
  background-color: @crust;
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#window:hover,
#workspaces:hover
{
  border: 1px solid shade(@green, 0.75);
}

.modules-left {
}
.modules-right {
}

.modules-center {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
}
